body{
    background: #d2d2c1 url('../imagem/fundo.png');
    font: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

#conteudo{
    background: #E8E8D9;
    padding: 10px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

.centralizar {
    text-align: center;
}

h1{
    color:#828271;
    font-size: 1.2em;
}
.img-campanha{
    border: 10px solid #C3C3AE;
}